{% extends "base.html" %}
{% block content %}

<header class="page-header">
    <h1>The Digital Competence Framework</h1>
</header>

<section id="about" class="about">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row gx-0">
            <div class="col-lg-6 d-flex flex-column justify-content-center aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="200">
                <div class="content">
                    <h2>What is the DCF for Wales
                    </h2>
                    <h3>The DCF stands for Digital Competence Framework in Wales 2022, also known as
                        "Cymhwysedd Digidol" in Welsh, is an integral part of the new Curriculum in Welsh schools.
                    </h3>
                    <p> It is an area of learning that sets out to teach children the knowledge, attitude and skills
                        they need to be able to use technology and systems confidently, creatively and critically.

                        From September 2022 the literacy, numeracy and digital competence area of learning and
                        experience (AoLE), along with the other six areas, will be mandatory in all Welsh schools.

                        The AoLE offers cross-circular information that will be essential to all learning and
                        enables learners to develop lifelong skills.
                    </p>
                    <div class="text-center text-lg-start">
                        <a href="{{url_for('filter_ideas_by_query_param')}}"
                            class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Get Ideas
                            </span>
                            <i class="fas fa-arrow-right">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="zoom-out"
                data-aos-delay="200">
                <img src="{{ url_for('static',filename='img/hero-img.png')}}" class="img-fluid"
                    alt="image showing people using technology">
            </div>
        </div>
    </div>
</section>
<section id="strands" class="strands">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <header class="section-header">
            <h2>The Four DCF Strands</h2>
        </header>
        <div class="row gy-4 aos-init aos-animate" data-aos="fade-left">
            {% for category in categories %}
            <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <h3>{{category}}</h3>
                    <img src="{{ url_for('static',filename='img/strand-icons/'+category.lower().replace(' ','-')+'.png')}}"
                        class="img-fluid" circular logo representing the four strands">
                    <ul>
                        {% for strand in strands %}
                        {% if strand.strand_name == category %}
                        <li>
                            {{strand.strand_element}}<br>
                            <a href="{{ url_for('filter_ideas_by_query_param')}}?strand_id={{strand.id}}" class=""><i
                                    class="fas fa-eye"><span class="sr-only">View ideas in this strand</span>
                                </i></a>
                            {% if session.user %}
                            <a href="{{ url_for('add_idea') }}" class="strand-button" data-strand="{{ strand.id }}"><i
                                    class="fas fa-plus"><span class="sr-only">Add ideas to this strand</span>
                                </i></a>
                            {% endif %}
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <a href="{{ url_for('filter_ideas_by_strand_name', strand_name=category) }}" class="btn-strand">View
                        Ideas
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="frameworks" class="frameworks">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <header class="section-header">
            <h2>Cross-curricular Frameworks</h2>
        </header>
        <div class="row">
            <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="box">
                    <img src="{{ url_for('static',filename='img/framework-1.png')}}" class="img-fluid"
                        alt="icon to represent numeracy">
                    <h3>Numeracy
                    </h3>
                    <p>Being able to use numbers and solve problems in real-life situations
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                <div class="box">
                    <img src="{{ url_for('static',filename='img/framework-2.png')}}" class="img-fluid"
                        alt="icon to represent literacy">
                    <h3>Literacy
                    </h3>
                    <p>Developing listening, reading, speaking and writing skills
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                <div class="box">
                    <img src="{{ url_for('static',filename='img/framework-3.png')}}" class="img-fluid"
                        alt="icon to represent digital competence">
                    <h3>Digital Competence
                    </h3>
                    <p>Being confident using a range of technologies to help them function, communicating
                        effectively and making sense of the world
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="aoles" class="aoles">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <header class="section-header">
            <h2>What are the Areas of Learning and Experience (AoLE)?
            </h2>
            <p>The six areas of learning and experience are:</p>
        </header>
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ url_for('static',filename='img/aoles.png')}}" class="img-fluid"
                    alt="image of people holding cogs working together">
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">
                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
                        <div class="aole-box d-flex align-items-center">
                            <i class="fas fa-check">
                            </i>
                            <h3>Expressive Arts
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="300">
                        <div class="aole-box d-flex align-items-center">
                            <i class="fas fa-check">
                            </i>
                            <h3>Health and well-being
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="400">
                        <div class="aole-box d-flex align-items-center">
                            <i class="fas fa-check">
                            </i>
                            <h3>Humanities
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="500">
                        <div class="aole-box d-flex align-items-center">
                            <i class="fas fa-check">
                            </i>
                            <h3>Languages, Literacy and Communication
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="600">
                        <div class="aole-box d-flex align-items-center">
                            <i class="fas fa-check">
                            </i>
                            <h3>Mathematics and Numeracy
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="700">
                        <div class="aole-box d-flex align-items-center">
                            <i class="fas fa-check">
                            </i>
                            <h3>Science and Technology
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="purposes" class="purposes">
    <div class="container aos-init" data-aos="fade-up">
        <header class="section-header">
            <h2>What are the four purposes of learning?
            </h2>
            <br>
            <span>The six AoLEs and the new Welsh curriculum are all centred around four purposes, which the Welsh
                Government has agreed on and put forward as the main aims for children’s educational outcomes.
                <br>The four purposes are aiming to develop the children into becoming:</span>
        </header>
        <div class="row gy-4">
            <div class="col-lg-3 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="100">
                <div class="purpose">
                    <div class="purpose-info">
                        <h3>Ambitious, capable learners
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="200">
                <div class="purpose">
                    <div class="purpose-info">
                        <h3>Enterprising, creative contributors</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="300">
                <div class="purpose">
                    <div class="purpose-info">
                        <h3>Ethical, informed citizens
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="400">
                <div class="purpose">
                    <div class="purpose-info">
                        <h3>Healthy, confident individuals
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}