<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css')}}"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/glightbox/css/glightbox.min.css')}}"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/remixicon/remixicon.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/swiper/swiper-bundle.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}" type="text/css">
    <title>DCF Ideas</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="icon" href="{{ url_for('static',filename='img/favicon.png')}}" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

</head>

<body>
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                <img src="{{ url_for('static',filename='img/logo.png')}}" alt="">
                <span>DCF Ideas</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="{{url_for('home')}}">Home</a></li>
                    <li><a class="nav-link scrollto" href="{{url_for('strands')}}">Strands</a></li>
                    <li><a class="nav-link scrollto" href="{{url_for('ideas')}}">Ideas</a></li>
                    <li><a class="getstarted scrollto" href="{{url_for('login')}}">Log In</a></li>
                    <li><a class="getstarted scrollto" href="{{url_for('register')}}">Register</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row text-center flashes">
            <h4>{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>

    <footer id="footer" class="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="/" class="logo d-flex align-items-center">
                            <img src="{{ url_for('static',filename='img/logo.png')}}" alt="">
                            <span>DCF Ideas</span>
                        </a>
                        <p>DCF Ideas is a central hub for Ysgol Y Creuddyn teachers to share their ideas for Digital
                            Competence in their
                            lessons.</p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/ysgolycreuddyn?lang=en" class="twitter"><i
                                    class="bi bi-twitter"></i></a>
                            <a href="https://en-gb.facebook.com/creuddyn/" class="facebook"><i
                                    class="bi bi-facebook"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('home')}}">Home</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('ideas')}}">Ideas</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{{ url_for('add_idea') }}">Add Idea</a>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('strands')}}">Strands</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Login</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Creuddyn Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Ysgol Y Creuddyn</h4>
                        <p>
                            Derwen Ln<br>
                            Penrhyn Bay<br>
                            LL30 3LB <br><br>
                            <strong>Phone:</strong> 01492 544344<br>
                            <strong>Email:</strong> swyddfa@creuddyn.conwy.sch.uk<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>DCF Ideas</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static',filename='vendor/purecounter/purecounter.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/php-email-form/validate.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>

</html>