<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A place for teachers to share ideas about the DCF for Wales">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}" type="text/css">
    <title>DCF Ideas</title>
    <link rel="icon" href="{{ url_for('static',filename='img/favicon.png')}}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                <img src="{{ url_for('static',filename='img/logo.png')}}"
                    alt="circular logo representing the four strands">
                <span>DCF Ideas</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="{{url_for('home')}}">Home</a></li>
                    <li><a class="nav-link scrollto" href="{{url_for('about')}}">About</a></li>
                    <li><a class="nav-link scrollto" href="{{url_for('filter_ideas_by_query_param')}}">Ideas</a></li>
                    {% if session.user %}
                    <li><a class="get-started scrollto" href="{{ url_for('profile', username=session['user']) }}">My
                            Profile</a></li>
                    {% else %}
                    <li><a class="nav-link scrollto" href="{{url_for('login')}}">Log In</a></li>
                    <li><a class="get-started scrollto" href="{{url_for('register')}}">Register</a></li>
                    {% endif %}
                </ul>
                <i class="fas fa-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <div class="section">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="text-center flashes">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <main class="container-fluid px-0">
        {% block content %}
        {% endblock %}
    </main>

    <footer id="footer" class="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-6 col-md-12 footer-info">
                        <a href="/" class="logo d-flex align-items-center">
                            <img src="{{ url_for('static',filename='img/logo.png')}}"
                                alt="circular logo representing the four strands">
                            <span>DCF Ideas</span>
                        </a>
                        <p>DCF Ideas is a central hub for Ysgol Y Creuddyn teachers to share their ideas for Digital
                            Competence in their
                            lessons.</p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/ysgolycreuddyn?lang=en" class="twitter" target="_blank"><i
                                    class="fab fa-twitter"></i><span class="sr-only">Twitter</span></a>
                            <a href="https://en-gb.facebook.com/creuddyn/" class="facebook" target="_blank"><i
                                    class="fab fa-facebook"></i><span class="sr-only">Facebook</span></a>
                            <a href="mailto:swyddfa@creuddyn.conwy.sch.uk" target="_blank"><i
                                    class="fas fa-envelope"></i><span class="sr-only">Email Address</span></a>
                            <a href="tel:01492544344" target="_blank"><i class="fas fa-phone"></i><span
                                    class="sr-only">Phone
                                    Number</span></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fas fa-chevron-right"></i> <a href="{{url_for('home')}}">Home</a></li>
                            <li><i class="fas fa-chevron-right"></i> <a href="{{url_for('about')}}">About</a></li>
                            <li><i class="fas fa-chevron-right"></i> <a
                                    href="{{url_for('filter_ideas_by_query_param')}}">Ideas</a></li>
                            <li><i class="fas fa-chevron-right"></i> <a href="{{ url_for('add_idea') }}"
                                    class="idea-button">Add Idea</a>
                            </li>
                            <li><i class="fas fa-chevron-right"></i> <a href="{{url_for('login')}}">Login</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-6 footer-contact text-center text-md-start">
                        <h4>Ysgol Y Creuddyn</h4>
                        <p>
                            <strong>Address:</strong>
                            Derwen Ln<br>
                            Penrhyn Bay<br>
                            LL30 3LB <br><br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>DCF Ideas</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="fas fa-arrow-up"></i><span class="sr-only">Button to navigate back to top of page</span></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static',filename='vendor/aos/aos.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>

</html>