{% extends "base.html" %}
{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('ideas')}}">Ideas</a></li>
                <li>{{idea.idea_name}}</li>
            </ol>
            <h2>{{ idea.idea_name}}</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">
                        {% for strand in strands %}
                        {% if strand.id == idea.strand_id %}
                        <h2 class="entry-title">{{strand.strand_name}} - {{strand.strand_element}}</h2>
                        {% endif %}
                        {% endfor %}
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center">
                                    <a href="{{ url_for('filter_ideas_by_cam_cynnydd', cc=idea.cam_cynnydd) }}">Cam
                                        Cynnydd:
                                        {{idea.cam_cynnydd}}</a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <a href="{{ url_for('filter_ideas_by_subject', subject=idea.subject) }}">Subject:
                                        {{idea.subject}}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <h3>Idea Description</h3>
                            <p>{{idea.idea_description}}</p>
                        </div>

                        <div class="entry-footer">
                            <i class="fas fa-person"></i>
                            <ul class="cats">
                                <li><i class="fas fa-user"></i> <a
                                        href="{{ url_for('filter_ideas_by_user', username=idea.created_by) }}">{{idea.created_by}}</a>
                                </li>
                            </ul>

                            <i class="fas fa-clock"></i>
                            <ul class="tags">
                                <li>{{idea.created_at}}</li>
                            </ul>
                        </div>

                    </article><!-- End blog entry -->

                    <div class="blog-author">
                        <h4>Idea Resource Link</h4>
                        <div class="row">
                            <div class="col-12">
                                <input class="col-10" type="text" value="{{idea.idea_resource}}" id="linkInput"
                                    disabled>
                                <button class="btn btn-outline-secondary col-1" onclick="copyLink()">
                                    <i class="fas fa-copy"></i>
                                </button>
                            </div>
                        </div>
                    </div><!-- End blog author bio -->
                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">
                        {% if session.user|lower == idea.created_by|lower or session.user|lower == "admin"|lower %}
                        <h3 class="sidebar-title">Manage Idea</h3>
                        <div class="sidebar-item">
                            <a href="{{ url_for('update_idea', idea_id=idea.id) }}"
                                class="btn btn-outline-secondary">Edit<i class="fas fa-pen"></i></a>
                            <button class="btn btn-secondary" data-bs-toggle="modal"
                                data-bs-target="#deleteModal">Delete<i class="fas fa-trash"></i></button>
                        </div>
                        {% endif %}

                        <h3 class="sidebar-title">Strands</h3>

                        <div class="sidebar-item categories">
                            <ul>{% for category in categories %}

                                <li>
                                    <a href="{{ url_for('filter_ideas_by_strand_name', strand_name=category) }}">{{category}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Recent Ideas</h3>
                        <div class="sidebar-item recent-posts">
                            {% for recentidea in recentideas %}
                            {% for strand in strands %}
                            {% if strand.id == recentidea.strand_id %}
                            <div class="post-item clearfix">
                                <img src="{{ url_for('static',filename='img/strand-icons/strand'+recentidea.strand_id|string+'.png')}}"
                                    alt="" class="img-fluid">
                                <h4><a
                                        href="{{ url_for('full_idea', idea_id=recentidea.id) }}">{{recentidea.idea_name}}</a>
                                </h4>
                                <h4>{{strand.strand_name}} - {{strand.strand_element}}</h4>
                                <time datetime="2020-01-01">{{recentidea.created_at}}</time>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}

                        </div><!-- End sidebar recent posts-->
                        <h3 class="sidebar-title">Subject</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                {% for subject in subjects %}
                                <li><a href="{{ url_for('filter_ideas_by_subject', subject=subject) }}">{{subject}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div><!-- End sidebar tags-->
                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Single Section -->

</main><!-- End #main -->
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this idea?</p>
                <p>Once deleted it cannot be retrieved.</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('delete_idea', idea_id=idea.id) }}" class="btn btn-secondary">Delete<i
                        class="fas fa-trash"></i></a>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}