{% extends "base.html" %}
{% block content %}
<section id="services" class="services">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p>Ideas</p>
            {% if session.user %}
            <a href="{{ url_for('add_idea') }}" class="idea-button btn btn-primary">Add Idea <i
                    class="fas fa-plus-square right"></i></a>
            {% else %}
            Please <a href="{{url_for('login')}}">Log In</a> or <a href="{{url_for('register')}}">Register</a> to add
            ideas.
            {% endif %}
        </header>

        <div class="row gy-4">
            {% for idea in ideas %}
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <a href="{{ url_for('full_idea', idea_id=idea.id) }}">
                    <div class="service-box blue">
                        <i class=" ri-discuss-line icon"></i>
                        <h3>{{ idea.idea_name }}</h3>
                        <div class="row offset-2">
                            <i class="col-3 fas fa-stairs"></i>{{ idea.cam_cynnydd }}
                            <i class="col-4 fas fa-user"></i> {{ idea.created_by }}
                            <i class="col-3 fas fa-list"></i>{{ idea.subject }}
                        </div>
                        {% if session.user|lower == idea.created_by|lower or session.user|lower == "admin"|lower %}
                        <a href="{{ url_for('update_idea', idea_id=idea.id) }}" class="btn btn-outline-secondary">Edit<i
                                class="bi bi-pencil"></i></a>
                        <button class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{ loop.index }}">Delete<i class="bi bi-trash"></i></button>
                        {% endif %}
                    </div>
                </a>
            </div>
            <div class="modal fade" id="deleteModal{{ loop.index }}" tabindex="-1" aria-labelledby="deleteModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Item</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this idea?</p>
                            <p>Once deleted it cannot be retrieved.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_idea', idea_id=idea.id) }}" class="btn btn-secondary">Delete<i
                                    class="bi bi-trash"></i></a>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}