{% extends "base.html" %}
{% block content %}
<section id="services" class="services">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p>Ideas</p>
            <a href="{{ url_for('add_idea') }}" class="btn-buy">Add Idea <i class="fas fa-plus-square right"></i></a>
        </header>

        <div class="row gy-4">
            {% for idea in ideas %}
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-box blue">
                    <i class="ri-discuss-line icon"></i>
                    <h3>{{ idea.idea_name }}</h3>
                    <p>{{ idea.idea_description }}</p>
                    <a href="{{ url_for('update_idea', idea_id=idea.id) }}" class="read-more">Edit<i
                            class="bi bi-pencil"></i></a>
                    <a href="{{ url_for('delete_idea', idea_id=idea.id) }}" class="read-more">Delete<i
                            class="bi bi-trash"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}