{% extends "base.html" %}
{% block content %}
<section id="services" class="services">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p>Ideas</p>
            <a href="{{ url_for('add_idea') }}" class="btn btn-primary">Add Idea <i
                    class="fas fa-plus-square right"></i></a>
        </header>

        <div class="row gy-4">
            {% for idea in ideas %}
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-box blue">
                    <i class="ri-discuss-line icon"></i>
                    <h3>{{ idea.idea_name }}</h3>
                    <p>{{ idea.idea_description }}</p>
                    <p>{{ loop.index }}</p>
                    <a href="{{ url_for('update_idea', idea_id=idea.id) }}" class="btn btn-outline-secondary">Edit<i
                            class="bi bi-pencil"></i></a>
                    <button class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#deleteModal{{ loop.index }}">Delete<i class="bi bi-trash"></i></button>
                </div>
            </div>
            <!-- Delete Model -->
            <div class="modal fade" id="deleteModal{{ loop.index }}" tabindex="-1" aria-labelledby="deleteModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Item</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this idea?</p>
                            <p>Once deleted it cannot be retrieved.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_idea', idea_id=idea.id) }}" class="read-more">Delete<i
                                    class="bi bi-trash"></i></a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}