{% extends "base.html" %}
{% block content %}
<div id="hero" class="hero section d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">A problem shared is a problem halved</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Let's work together to improve our learners' digital
                    competence across the curriculum by sharing our ideas
                </h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a href="{{url_for('filter_ideas_by_query_param')}}"
                            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Get Ideas</span>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="{{ url_for('static',filename='img/hero-img.png')}}" class="img-fluid" alt="image showing
                    people using technology">
            </div>
        </div>
    </div>

</div><!-- End Hero -->
<div id="recent-idea-posts" class="recent-idea-posts section">
    <div class="container aos-init" data-aos="fade-up">
        <header class="section-header">
            <h2>Recent Ideas from Our Community</h2>
        </header>
        <div class="row">
            {% for recentidea in recentideas %}
            {% for strand in strands %}
            {% if strand.id == recentidea.strand_id %}
            <div class="col-lg-4">
                <div class="idea-box">
                    <span class="post-date">{{recentidea.created_at}} </span>
                    <h3 class="post-title">{{recentidea.idea_name}}</h3>
                    <span>{{strand.strand_name}} - {{strand.strand_element}}</span>
                    <a href="{{ url_for('full_idea', idea_id=recentidea.id) }}" class="mt-auto">
                        {{recentidea.idea_name}} - Full Details <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}