{% extends "base.html" %}
{% block content %}
<header class="page-header">
    <h1>Log In to Your Account</h1>
</header>

<div class="card text-center offset-2 col-8">
    <div class="card-header">
        Not Registered? <a href="{{ url_for('register') }}">Register here</a>.
    </div>
    <form class="card-body" method="POST" action="{{ url_for('login') }}">
        <div class="row">
            <div class="input-field col-12">
                <label for="username">Username</label><br>
                <i class="fas fa-user-cog prefix"></i>
                <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" required>
            </div>
            <div class="input-field col-12">
                <label for="password">Password</label><br>
                <i class="fas fa-user-lock prefix"></i>
                <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" required>
                <i class="password-visible far fa-eye" data-target="password"></i>
            </div>
            <button type="submit" class="btn btn-primary btn-account my-2 col-6 mx-auto">
                Log In <i class="fas fa-sign-in-alt"></i>
            </button>
        </div>
    </form>
    <div class="card-footer text-muted">
        Log in to access the full idea details and the ability to create and store your own ideas.
    </div>
</div>
{% endblock %}