{% extends "base.html" %}
{% block content %}
<div class="card text-center offset-2 col-8">
    <div class="card-header">
        {{ username }}'s Profile (<a href="{{ url_for('logout') }}">Logout</a>)
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h3>Update Password</h3>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePassword">Edit <i
                        class="fas fa-pencil-alt"></i></button>
            </div>
            <div class="col-6">
                <h3>Delete Account</h3>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Delete <i
                        class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- Change Password Model -->
<div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('change_password', username=session['user']) }}" method="POST"
                    id="formChangePass">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-lock"></i>
                            <input id="new_password" name="new_password" type="text" minlength="5" maxlength="15"
                                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="new_password">Change Password</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="formChangePass" value="Submit">Edit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Account  Model -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this account?</p>
                <p>Once deleted it cannot be retrieved.</p>
                <form action="{{ url_for('delete_account', user_id=username) }}" method="POST" id="formDelAccount">
                    <div class="row">
                        <div class="input-field col-12">
                            <input id="confirm_deletion" name="confirm_deletion" minlength="5" maxlength="15"
                                pattern="^[a-zA-Z0-9]{5,15}$" type="text" class="validate" required>
                            <label for="confirm_deletion">User Password</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="formDelAccount" value="Submit">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="my-ideas row">
    <h3>My Ideas</h3>
</div>

{% endblock %}