{% extends "base.html" %}
{% block content %}
<div class="card text-center offset-2 col-8">
    <div class="card-header">
        {{ username }}'s Profile (<a href="{{ url_for('logout') }}">Logout</a>)
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h3>Update Password</h3>
                <button class="btn btn-primary">Edit <i class="fas fa-pencil-alt"></i></button>
            </div>
            <div class="col-6">
                <h3>Delete Account</h3>
                <button class="btn btn-primary">Delete <i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}