{% extends "base.html" %}
{% block content %}
<div class="card text-center">
    <div class="card-header">
        Profile
    </div>
    <div class="card-body">
        <h5 class="card-title"> {{ username }}'s Profile</h5>
        <div class="row">
            <div class="col-6">
                <h3>Update Password</h3>
                <button class="btn btn-primary">Edit <i class="fas fa-pencil-alt"></i></button>
            </div>
            <div class="col-6">
                <h3>Delete Account</h3>
                <button class="btn btn-primary">Delete <i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        Not Registered? <a href="{{ url_for('register') }}">Register</a> here.
    </div>
</div>

{% endblock %}