{% extends "base.html" %}
{% block content %}
<header class="section-header">
    <h2>Register</h2>
    <p>Create a New Account</p>
</header>

<div class="card text-center offset-2 col-8">
    <div class="card-header">
        Already Registered? <a href="{{ url_for('login') }}">Login instead</a>.
    </div>
    <form class="card-body" method="POST" action="{{ url_for('register') }}">
        <div class="row">
            <div class="input-field col-12">
                <label for="username">Username</label><br>
                <i class="fas fa-user-plus prefix"></i>
                <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" required>
            </div>
            <div class="input-field col-12">
                <label for="password">Password</label><br>
                <i class="fas fa-user-lock prefix"></i>
                <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" required>
                <i class="password-visible far fa-eye" data-target="password"></i>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary btn-login my-2 col-6 mx-auto">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="card-footer text-muted">
        Registration gives you access to full idea details and the ability to create and store your own ideas.
    </div>
</div>
{% endblock %}