{% extends "base.html" %}
{% block content %}

<section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <p>Strands Overview</p>
        </header>
        {% for category in categories %}
        <h3>{{category}}</h3>
        <div class="row gy-4">
            {% for strand in strands %}
            {% if strand.strand_name == category %}
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <div>
                        <h4>{{strand.strand_element}}</h4>
                        <a href="{{ url_for('ideas') }}" class="btn btn-secondary">View Ideas</a>
                        {% if session.user %}
                        <a href="{{ url_for('add_idea') }}" class="btn btn-primary strand-button"
                            data-strand="{{ strand.id }}">Add Idea</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
        <br>
    </div>
</section>
{% endblock %}