{% extends "base.html" %}
{% block content %}

<section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <p>Strands Overview</p>
        </header>
        {% for category in categories %}
        <h4>{{category}}</h4>
        <div class="row gy-4">
            {% for strand in strands %}
            {% if strand.strand_name == category %}
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <div>
                        <h4>{{strand.strand_element}}</h4>
                        <p>{{strand.strand_name}}</p>
                        <a href="#" class="btn-secondary">View Ideas</a>
                        <a href="{{ url_for('add_idea') }}" class="btn-primary">Add Idea</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}