{% extends "base.html" %}
{% block content %}
<section id="update_idea" class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Ideas</h2>
            <p>Edit Idea</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-12">
                <form class="php-email-form" method="POST" action="{{ url_for('update_idea',idea_id=idea.id) }}">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <label for="created_by">Created By</label><br>
                            <input id="created_by" class="form-control" name="created_by" minlength="5" maxlength="50"
                                type="text" placeholder="Created by who?" value="{{idea.created_by}}" disabled>
                        </div>

                        <div class="col-md-6">
                            <label for="created_at">Modified At</label><br>
                            <input id="created_at" class="form-control" name="created_at" minlength="5" maxlength="50"
                                type="datetime" placeholder="Created when?" value="{{idea.created_at}}" disabled>
                        </div>

                        <div class="col-md-12">
                            <label for="idea_name">Idea Name</label><br>
                            <input id="idea_name" class="form-control" name="idea_name" minlength="5" maxlength="50"
                                type="text" placeholder="Idea Name" value="{{idea.idea_name}}" required>
                        </div>

                        <div class=" col-md-12">
                            <label for="idea_description">Idea Description</label><br>
                            <textarea id="idea_description" name="idea_description" class="form-control" rows="6"
                                placeholder="Idea Description" required>{{- idea.idea_description -}}</textarea>
                        </div>

                        <div class="col-md-6">
                            <label for="cam_cynnydd_selector">Cam Cynnydd</label><br>
                            <select id="cam_cynnydd_selector" name="cam_cynnydd_selector" class="form-control" required>
                                <option value="0" disabled>Choose Cam Cynnydd</option>
                                {% for cam_cynnydd in camau_cynnydd %}
                                {% if cam_cynnydd|int == idea.cam_cynnydd|int %}
                                <option value="{{cam_cynnydd}}" selected>{{cam_cynnydd}}</option>
                                {% else %}
                                <option value="{{cam_cynnydd}}">{{cam_cynnydd}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="subject_selector">Subject</label><br>
                            <select id="subject_selector" name="subject_selector" class="form-control" required>
                                <option value="0" disabled selected>Choose a subject</option>
                                {% for subject in subjects %}
                                {% if subject == idea.subject %}
                                <option value="{{ subject }}" selected>{{ subject }}</option>
                                {% else %}
                                <option value="{{ subject }}">{{ subject }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label for="idea_resource">Idea Resource Link</label><br>
                            <textarea id="idea_resource" name="idea_resource" class="form-control" rows="1"
                                placeholder="Link to Idea Resource" required>{{- idea.idea_resource -}}</textarea>
                        </div>

                        <!-- Bug: If I remove the snippet below the strand beneath doesn't prepopulate-->
                        <select id="strand_selector" disabled class="d-none">
                        </select>
                        <!-- End of snippet -->

                        <div class="col-md-12">
                            <label for="strand_selector">Strand</label><br>
                            <select id="strand_selector" name="strand_selector" class="form-control" required>
                                <option value="0" disabled selected>Choose a strand</option>
                                {% for strand in strands %}
                                {% if strand.id |int == idea.strand_id |int %}
                                <option value="{{ strand.id }}" selected>{{ strand.id }}: {{ strand.strand_name }} -
                                    {{ strand.strand_element }}
                                </option>
                                {% else %}
                                <option value="{{ strand.id }}">{{ strand.id }}: {{ strand.strand_name }} -
                                    {{ strand.strand_element }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit">Edit Idea <i class="fas fa-paper-plane"></i></button>
                        </div>

                    </div>
                </form>

            </div>

        </div>

    </div>

</section>
{% endblock %}