{% extends "base.html" %}
{% block title%}500{% endblock %}

{% block content %}

<div class="container error-container center-align">
    <div class="row">
        <div class="col">
            <header class="section-header">
                <p>Oops! It looks like there's a problem!</p>
                <p>500</p>
            </header>

            <h2>We are sorry, but there seems to be a problem with the server!</h2>
            <a class="btn" href="{{url_for('home')}}">Return to homepage</a>
        </div>
    </div>
</div>

{% endblock %}